<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h2>Travel Memoirへ、ようこそ</h2>
      <p>
        旅行先で体験した出来事や美味しい食事などを
        投稿し、旅の思い出を記録しよう!
      </p>
    </div>
  </div>
</div>